h3 {
  text-decoration: underline;
  margin-bottom: 10px;
  color: #999; }

button {
  padding: 6px;
  font: sans-serif;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: none;
  /* removes stupid blue halo */ }
  button:hover {
    border: 1px solid #999; }
  button:focus {
    outline: 0; }

.speaker form,
.metronome form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: .35em; }

.metronome div {
  display: inline; }

.metronome .button {
  position: relative;
  bottom: 2px; }

input {
  color: #666; }

.form label {
  color: #CCC; }

select, input[type="text"], input[type="number"] {
  font: 1em sans-serif;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 2px 5px 3px 5px; }

.speaker, .patterns, .metronome {
  text-align: center;
  font-family: sans-serif; }

.patterns-body {
  border: 1px solid #CCC;
  border-radius: .35em;
  width: 400px;
  margin: 0 auto;
  padding: 1em; }

.pattern-form .name, .pattern-form .count, .pattern-form .button {
  display: inline-block;
  vertical-align: middle; }

.pattern-form input[type="text"] {
  width: 130px; }

.pattern-list {
  max-height: 250px;
  margin: 10px auto;
  overflow-y: scroll;
  border: 1px solid #CCC;
  border-radius: .35em; }

.pattern-form {
  padding: 5px; }
  .pattern-form form {
    padding: 5px; }

#pattern-list {
  list-style: none;
  text-align: left;
  padding: 0 10px; }
  #pattern-list li {
    margin: 10px auto;
    padding: .5em;
    border: 1px solid #CCC;
    border-radius: .35em;
    color: #CCC; }
    #pattern-list li span {
      vertical-align: middle; }
    #pattern-list li button {
      float: right; }
      #pattern-list li button:hover {
        color: red;
        border: 1px solid red; }

/* CLEARFIX */
div.pattern {
  clear: both;
  *zoom: 1; }
  div.pattern:before, div.pattern:after {
    content: "";
    display: table; }
  div.pattern:after {
    clear: both; }

input:focus {
  outline-color: #999; }

/*vertically center the checkboxes*/
input[type=checkbox] {
  position: relative;
  top: 2px; }

select#voice {
  width: 70%; }

label[for="pattern_count"] {
  position: relative;
  top: 1px; }

/* DEV */
