.speaker form, .metronome form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: .35em;
}

form div + div {
  margin-top: 1em;
}

input {
  color: #666;
}

.metronome form label {
  color: #CCC;
  display: inline-block;
  margin-right: 5px;
}

.patterns form label {
  color: #CCC;
}

select, input[type="text"], input[type="number"] {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 2px 7px;
}

input:focus {
  border-color: #000;
}

.speaker, .patterns, .metronome {
  text-align: center;
  font-family: sans-serif;
}

h3 {
    text-decoration: underline;
    margin-bottom: 10px;
    color: #999;
}

button {
  padding: 5px;
  font: sans-serif;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: none;
}

button:hover {
  border: 1px solid #000;
}

.patterns-body {
  border: 1px solid #CCC;
  border-radius: .35em;  
  width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.pattern-form div.inline {
  display: inline;  
}

.pattern-form input[type="text"] {
  width: 190px;
  margin-right: 10px;
}

.pattern-form input[type="number"] {
  width: 60px;
  display: inline;
  vertical-align: middle;
}

.pattern-form button {
  margin-bottom: 10px;
}

.pattern-list {
  margin: 0 auto;
  height: 250px;
  overflow-y: scroll;
  border: 1px solid #CCC;
  border-radius: .35em;  
}

#pattern-list {
  list-style: none;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

#pattern-list li {
  margin: 10px auto;
  padding: .5em;
  border: 1px solid #CCC;
  border-radius: .35em;  
  color: #CCC;
}

#pattern-list li button {
  float: right;
}

#pattern-list li button:hover {
  color: red;
  border: 1px solid red;
}

#pattern-list li span {
  vertical-align: middle;
}

/* removes stupid blue halo */
input:focus,
button:focus {
  outline: 0;
}

.pattern {
  padding-bottom: 5px;
}

/*vertically center the checkboxes*/
input[type=checkbox] {
  position: relative;
  top: 2px;
}

select#voice {
  width: 70%;
}

input#bpm {
  width: 60px;
}