.main {
	font: 300 16px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 320px;
	color: #777;
}

h3 {
  margin: 10px 0;
  color: #bbb;
  font: 300 22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: solid 1px #bbb;
  display: inline-block;
}

.about {
	margin: 0 auto;
	width: 400px;
	text-align: center;

	p {
		margin-top: 5px;
	}

	ol {
		margin-top: 20px;
		margin-left: 100px;
		text-align: left;
	}
}

ol { 
   list-style-type: circle;
}