body {
  margin: 0;
  background-color: #eee;
}

h3 {
  text-decoration: underline;
  margin-bottom: 10px;
  color: #999;
}

button {
  padding: 6px;
  font: sans-serif;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: none;

  &:hover {
  	border: 1px solid #999;
	}
	/* removes stupid blue halo */
	&:focus {
	  outline: 0;
	}
}

.speaker, .patterns, .metronome {
  text-align: center;
  font-family: sans-serif;
}

.speaker form, 
.metronome form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: .35em;
}

.metronome div {
  display: inline-block;
  vertical-align: middle;
}

.form label {
  color: #CCC;
}

select, input[type="text"], input[type="number"] {
  color: #666;
  font: 1em sans-serif;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 2px 5px 3px 5px;
}

.patterns-body {
  border: 1px solid #CCC;
  border-radius: .35em;  
  width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.pattern-form {
	.name, .count, .button {
	  display: inline-block;  
		vertical-align: middle;
	}
}

.pattern-form input[type="text"] {
  width: 130px;
}

.pattern-list {
  max-height: 250px;
  margin: 10px auto;
  overflow-y: scroll;
  border: 1px solid #CCC;
  border-radius: .35em;  
}

.pattern-form {
	padding: 5px;

	form {
		padding: 5px;
	}
}

#pattern-list {
  list-style: none;
  text-align: left;
  padding: 0 10px;

	li {
	  margin: 10px auto;
	  padding: .5em;
	  border: 1px solid #CCC;
	  border-radius: .35em;  
	  color: #CCC;

		span {
		  vertical-align: middle;
		}

	  button {
	  	float: right;

	  	&:hover {
			  color: red;
			  border: 1px solid red;
	  	}
	  }
	}
}

/* CLEARFIX */
div.pattern {
  clear: both;
  *zoom: 1;

  &:before, &:after {
  	content: "";
  	display: table;
  }
  &:after {
  	clear: both;
  }
}

input {
  background-color: #eee;
}

select {
  background-color: #eee;
}

input:focus {
  outline-color: #999;
}

/*vertically center the checkboxes*/
input[type=checkbox] {
  position: relative;
  top: 2px;
}

label[for="pattern_count"] {
  position: relative;
  top: 1px;
}

 /* HEADER & FOOTER */

footer {
  width: 100%;
  background-color: #ddd;
  padding: 15px 0px;
}

.callit {
  margin: 30px;
}

header {
  width: 100%;
  background-color: #ddd;
  position: relative;
}

header img {
  height: 70px;
  width: 70px;
  border-radius: 40px;
  margin: 10px 10px;
  border: 5px solid #eee;
}

header h1 {
  font-family: sans-serif;
  font-size: 3em;
  color: #aaa;
  text-transform: uppercase;
  font-weight: 400;
  display: inline;
  position: absolute;
  text-align: center;
  width: 410px;
  // height: 80px;
  left: 360px;
  top: -22%;
  background-color: #eee;
  border-radius: 5px;
  border: 5px solid #ccc;
  padding: 10px;
}

/* DEV */
// * {
//    border: 1px solid red !important;
// }