{
	"extends": "react",	
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },  
  "plugins": [
    "react"
  ],
	"rules": {
	  "indent": [2, 2],
    "quotes": [1, "single"],
    "react/wrap-multilines": 0,
    "react/no-multi-comp": 1,
    "react/prop-types": 1,
    "react/display-name": 1,
    "react/self-closing-comp": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 1,
    "no-mixed-spaces-and-tabs": 0,
    "no-trailing-spaces": 0,
    "no-alert": 0,
    "max-len": 0
  }
}
