html {
  font-size: 10px;
  box-sizing: border-box;
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;  
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display:flex;
  min-height: 100vh;
  align-items: center;
}

.voiceinator {
  padding:2rem;
  width:50rem;
  margin:0 auto;
  border-radius:1rem;
  position: relative;
  background:white;
  opacity: .98;
  overflow: hidden;
  z-index: 1;
  box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
}

h1 {
  width:calc(100% + 4rem);
  margin: 0rem 2rem 2rem -2rem;
  padding:.5rem;
  text-align: center;
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: bold;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin:10px 0;
  padding:10px;
  border:0;
  font-size: 2rem;
  background:#F7F7F7;
  outline:0;
}

textarea {
  height: 20rem;
}

.voiceinator button {
  border:0;
  width: 49%;
  float:left;
  font-family: sans-serif;
  margin-bottom: 0;
  font-size: 2rem;
  cursor:pointer;
  position: relative;
  border-radius: 5px;
}

.voiceinator button#repeat {
  margin-left: 25%;
  width: 50%;
}

.voiceinator button:active {
  top:2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
